/* GENERAL SETTINGS */
body {
    background-color: beige;
    color: black;
    margin: 0px;
    padding: 0px;
    font-family: arial, sans-serif;
    max-height: 100vh;
}

p {
    font-size: 14px;
}

h1 {
    font-size: 36px;
}

h2 {
    margin: 0;
    font-weight: bolder;
}

h3 {
    text-decoration: underline;
    margin: 0;
}

button {
    background-color: black;
    border: 2px solid black;
    margin: 0 0 15px 0;
    color: beige;
    font-weight: bold;
}

/* CLASS SETTING */
.scoreboard {
    background-color: black;
    color: beige;
    padding: 5px 20px 20px 20px;
    margin: 0 0 15px 0;
    text-align: center;
}

.score-box {
    width: 100px;
    padding: 10px;
    background-color: beige;
    color: black;
}

.score {
    font-size: 72px;

}

.play {
    /* Flexbox Properties*/
    flex: auto;

    display: flex;
}

.play div {
    /* Flexbox Properties */
    flex: 1;
}

.round-info {
    background-color: black;
    color: beige;
    height: 125px;
    width: 225px;
    text-align: center;
}

.result {
    font-size: 36px;
    font-weight: bold;
    margin: 25px 0;
    color: lime;
}

.btn-choice {
    height: 50px;
    width: 100px;
    font-size: 16px;
}

.btn-play {
    height: 75px;
    width: 175px;
    font-size: 24px;
}

.btn-nextRound {
    width: 75px;
    height: 50px;
    font-size: 18px;
}

/* ID SETTINGS */
#logo {
    font-weight: bold;
    line-height: 0.25;
}

#instructions {
    overflow: auto;
}

#screen-display {
    height: 100vh;

    /* Flexbox Properties */
    display: flex;
    justify-content: flex-start;
}


#menu {
    background-color: black;
    color: beige;
    padding: 15px;
    
    /* Flexbox Properties */
    flex: 0 0 200px;

    display: flex;
    flex-direction: column;
}

#play-board {
    background-color: beige;
    color: black;
    border: 10px solid black;

    /* Flexbox Properties */
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#score-tally {
    margin: 10px 0 0 0;

    /* Flexbox Properties */
    display: flex;
    justify-content: center;
    gap: 40px;
}

#contestants {

    /* Flex Properties */
    flex: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}


#button-container {
    padding: 30px 0 0 0;

    /* Flexbox Properties */
    align-self: stretch;
    flex: 0 0 80px;

    display: flex;
    justify-content: space-evenly;
    align-content: center;
}



/* Narrow Screen Mode */

@media (max-width: 800px) {
    #screen-display {
        flex-direction: column;
    }

    #menu {
        flex-direction: row;
        flex: 0 0 115px;
        max-height: 130px;
    }

    #instructions {
        padding: 0 0 0 30px;
    }
}